<main class="sl-main">
    <!-- CATEGORY START -->
    <section class="sl-main-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-xl-8">
                    <div class="sl-sectionHead">
                        <div class="sl-sectionHead__title sl-below-line sl-below-line__active">
                            <h2>All Categories</h2>
                        </div>
                        <div class="sl-sectionHead__description">
                            <p>We can handle professionally home and office Maintenance & Repair Construction, or Other Handyman Services in Sialkot</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-category sl-row">
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-01.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Accounts & Audit</h5>
                            <span>12,568 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-02.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>IT Services</h5>
                            <span>11,756 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-03.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Networking</h5>
                            <span>11,125 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-04.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Plumbing</h5>
                            <span>10,045 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-05.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Learning & Driver</h5>
                            <span>10,575 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-06.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Law & Finance</h5>
                            <span>9,245 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-07.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Medical</h5>
                            <span>9,421 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-08.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Handyman Services</h5>
                            <span>7,123 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-09.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Print & Publishing</h5>
                            <span>5,058 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-10.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>House Cleaning</h5>
                            <span>4,982 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CATEGORY END -->
</main>