<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body bg-login-image-->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block "></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div class="logo-main"><img src="./assets/images/logo-main.png" /></div>
                                        <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                                    </div>
                                    <form class="user" id="ddd" [formGroup]="resetForm">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Password" formControlName="password" id="emailaddress" [ngClass]="{ 'is-invalid': f.password.errors && (f.password.touched || submitted), 'is-valid' : f.password.valid }"
                                                required autofocus>
                                            <div class="invalid-feedback">Password is required.</div>
                                        </div>
                                        <div class="form-group">
                                            <!-- <label for="emailaddress">Email address</label> -->
                                            <input type="password" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Confirm Password" formControlName="c_password" id="emailaddress" [ngClass]="{ 'is-invalid': f.c_password.errors && (f.c_password.touched || submitted), 'is-valid' : f.c_password.valid }"
                                                required autofocus>
                                            <div class="invalid-feedback">Confirm Password is required.</div>
                                        </div>
                                        <button (click)="onSubmit()" class="btn btn-primary btn-user btn-block" [disabled]="resetForm.invalid">Reset

                                        </button>
                                    </form>
                                    <hr>
                                    <!-- <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
<ngx-spinner></ngx-spinner>