<!-- HEADER START -->
<header>
    <div class="sl-main-header">
        <strong class="sl-main-header__logo">
         <a href="index.html"><img src="./assets/images/main-logo.png" alt="Logo"></a>
      </strong>
        <div class="sl-main-header__content">
            <div class="sl-main-header__upper">
                <div class="sl-main-form__btn">
                    <a class="btn sl-btn sl-btn-active" style="padding: 5px;">
                        <i class="ti-facebook"></i>
                    </a>
                </div>
                <div class="sl-main-form__btn">
                    <a class="btn sl-btn sl-btn-active" style="padding: 5px;">
                        <i class="ti-instagram"></i>
                    </a>
                </div>
                <div class="sl-main-form__btn">
                    <a class="btn sl-btn sl-btn-active" style="padding: 5px;">
                        <i class="ti-twitter"></i>
                    </a>
                </div>
                <div class="sl-main-upperBackbtn">
                    <a href="javascript:void(0);"><i class="ti-close"></i></a>
                </div>
            </div>
            <div class="sl-main-header__lower">
                <nav class="navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#slMainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="lnr lnr-menu"></i>
                  </button>
                    <div class="collapse navbar-collapse sl-navigation" id="slMainNavbar">
                        <ul class="navbar-nav mr-auto sl-navbar-nav">
                            <li class="nav-item" routerLinkActive="sl-navactive" [routerLinkActiveOptions]="{exact:true}">
                                <a class="nav-link" [routerLink]="['']" href="javascript:void(0);">Home</a>
                            </li>
                            <li class="nav-item " routerLinkActive="sl-navactive">
                                <a href="javascript:void(0);" [routerLink]="['/services']">Services</a>
                            </li>
                            <li class="nav-item" routerLinkActive="sl-navactive">
                                <a class="nav-link" [routerLink]="['/booknow']">Book Now</a>
                            </li>
                            <li class="nav-item" routerLinkActive="sl-navactive">
                                <a class="nav-link" [routerLink]="['/about-us']">About</a>
                            </li>
                            <li class="nav-item" routerLinkActive="sl-navactive">
                                <a class="nav-link" [routerLink]="['/contact-us']">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="sl-lower-right">
                    <div class="sl-lower-right__content">
                        <i class="fas fa-mobile-alt"></i>
                        <p style="margin: 0px;">Expreience our mobile app - <a href="javascript:void(0);">Download Now</a></p>
                    </div>

                    <div class="sl-lower-right__content sl-dropdown">
                        <a href="javascript:void(0);">
                            <i class="fas fa-headphones-alt"></i>Help<i class="fas fa-caret-down"></i>
                        </a>
                        <ul class="sl-dropdown__menu">
                            <li class="nav-item">
                                <a href="javascript:void(0);">Coming Soon</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sl-main-header__lower--btn">
                    <a href="javascript:void(0);" class="btn sl-btn sl-btn-active">More Info</a>
                </div>
                <div class="sl-main-lowerBackbtn">
                    <a href="javascript:void(0);"><i class="ti-close"></i></a>
                </div>
            </div>
        </div>
        <!-- Login Popup Start-->
        <div class="modal fade sl-loginpopup" tabindex="-1" role="dialog" id="loginpopup" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="sl-modalcontent modal-content">
                    <div class="sl-popuptitle">
                        <h4>Login</h4>
                        <a href="javascript:void(0);" class="sl-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
                    </div>
                    <div class="modal-body">
                        <!-- <form class="sl-formtheme sl-formlogin">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control sl-form-control" placeholder="Your Email*" value="user@domain.com">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control sl-form-control" placeholder="Password*" value="user@domain.com">
                                </div>
                                <div class="form-group sl-btnarea">
                                    <a href="dashboard-insight.html" class="btn sl-btn">login</a>
                                    <div class="sl-checkbox">
                                        <input id="remember" type="checkbox">
                                        <label for="remember">Remember me here</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form> -->
                        <span class="sl-optionsbar"><em>or</em></span>
                        <div class="sl-loginicon">
                            <ul>
                                <li><a href="javascript:void(0);" class="sl-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
                                <li><a href="javascript:void(0);" class="sl-googlebox"><i class="fab fa-google"></i>Via google</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="sl-popup-footerterms">
                            <span>By signing in  you agree to these <a href="legalprivacy.html"> Terms &amp; Conditions</a> &amp; consent to<a href="legalprivacy.html"> Cookie Policy &amp; Privacy Policy.</a></span>
                        </div>
                        <div class="sl-loginfooterinfo">
                            <a href="javascript:void(0);"><em>Not a member?</em> Signup Now</a>
                            <a href="javascript:;" class="sl-forgot-password">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Popup End-->
    </div>
</header>
<!-- HEADER END -->