<div class="sl-main-banner">
    <div id="slBannerOwl" class="owl-carousel owl-theme">
        <div class="item"><img src="./assets/images/index/main-banner/img-01.jpg" alt="Image Description"></div>
        <div class="item"><img src="./assets/images/index/main-banner/img-02.jpg" alt="Image Description"></div>
        <div class="item"><img src="./assets/images/index/main-banner/img-03.jpg" alt="Image Description"></div>
        <div class="item"><img src="./assets/images/index/main-banner/img-04.jpg" alt="Image Description"></div>
        <div class="item"><img src="./assets/images/index/main-banner/img-05.jpg" alt="Image Description"></div>
        <div class="item"><img src="./assets/images/index/main-banner/img-06.jpg" alt="Image Description"></div>
        <div class="item"><img src="./assets/images/index/main-banner/img-07.jpg" alt="Image Description"></div>
        <div class="item"><img src="./assets/images/index/main-banner/img-08.jpg" alt="Image Description"></div>
    </div>
    <div class="sl-main-banner__content">
        <h1><span>Search more than 100 </span>Handyman Services</h1>
        <p>We can handle professionally home and office Maintenance & Repair Construction, or Other Handyman Services in Sialkot.</p>
        <div class="sl-main-banner__btn">
            <a [routerLink]="['/services']" class="btn sl-btn btn-outline-warning" style="color: black;">Show All</a>
            <a [routerLink]="['/booknow']" class="btn sl-btn sl-btn-active">Book Now</a>
        </div>
        <img src="./assets/images/index/main-banner/img-01.png" alt="Image Description">
    </div>
</div>
<!-- BANNER END -->

<!-- MAIN START -->
<main class="sl-main">
    <!-- CATEGORY START -->
    <section class="sl-main-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-xl-8">
                    <div class="sl-sectionHead">
                        <div class="sl-sectionHead__title sl-below-line sl-below-line__active">
                            <h2>All Categories</h2>
                        </div>
                        <div class="sl-sectionHead__description">
                            <p>We can handle professionally home and office Maintenance & Repair Construction, or Other Handyman Services in Sialkot</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-category sl-row">
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-01.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Accounts & Audit</h5>
                            <span>12,568 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-02.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>IT Services</h5>
                            <span>11,756 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-03.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Networking</h5>
                            <span>11,125 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-04.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Plumbing</h5>
                            <span>10,045 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-05.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Learning & Driver</h5>
                            <span>10,575 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-06.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Law & Finance</h5>
                            <span>9,245 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-07.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Medical</h5>
                            <span>9,421 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-08.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Handyman Services</h5>
                            <span>7,123 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-09.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>Print & Publishing</h5>
                            <span>5,058 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                    <div class="sl-category__service">
                        <img src="./assets/images/index/category/img-10.jpg" alt="image Description">
                        <div class="sl-category__description">
                            <h5>House Cleaning</h5>
                            <span>4,982 Providers</span>
                        </div>
                        <a [routerLink]="['/service-detail']" class="sl-category__icon"><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CATEGORY END -->

    <!-- STATS START -->
    <section>
        <div class="sl-statsBanner">
            <div class="sl-overlay">
                <div class="container">
                    <div id="counter" class="sl-stats sl-main-section">
                        <div class="sl-stats__content">
                            <i class="ti-face-smile"></i>
                            <div class="sl-stats__description">
                                <h3 data-from="0" data-to="35125" data-speed="8000" data-refresh-interval="50">35,125</h3>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                        <div class="sl-stats__content">
                            <i class="ti-user"></i>
                            <div class="sl-stats__description">
                                <h3 data-from="0" data-to="12556" data-speed="8000" data-refresh-interval="50">12,556</h3>
                                <p>Active Members</p>
                            </div>
                        </div>
                        <div class="sl-stats__content">
                            <i class="ti-shopping-cart"></i>
                            <div class="sl-stats__description">
                                <h3 data-from="0" data-to="41856" data-speed="8000" data-refresh-interval="50">41,856</h3>
                                <p>Products For Sale</p>
                            </div>
                        </div>
                        <div class="sl-stats__content">
                            <i class="ti-cup"></i>
                            <div class="sl-stats__description">
                                <h3 data-from="0" data-to="14753" data-speed="8000" data-refresh-interval="50">14,753</h3>
                                <p>Cup Of Coffee</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- STATS END -->
    <!-- FEEDBACK START -->
    <section class="sl-feedbackBanner">
        <div class="sl-overlay" style="background-color: white;color: black;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-xl-8">
                        <div class="sl-sectionHead">
                            <div class="sl-sectionHead__title sl-below-line sl-below-line__active">
                                <h2>Feedback That Matters</h2>
                            </div>
                            <div class="sl-sectionHead__description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim adena minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="slFeedbackOwl" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="sl-feedback">
                            <div class="sl-feedback__title">
                                <img src="./assets/images/index/feedback/user-icon/img-01.jpg" alt="Image Description">
                                <div class="sl-feedback__title__text">
                                    <h5>Amenda Wigh</h5>
                                    <p><em>United Arab Emirates</em></p>
                                </div>
                            </div>
                            <div class="sl-feedback__description">
                                <p><em>“Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim adena minim veniam quis nostrud”</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="sl-feedback">
                            <div class="sl-feedback__title">
                                <img src="./assets/images/index/feedback/user-icon/img-02.jpg" alt="Image Description">
                                <div class="sl-feedback__title__text">
                                    <h5>Stuart Loney</h5>
                                    <p><em>New york</em></p>
                                </div>
                            </div>
                            <div class="sl-feedback__description">
                                <p><em>“Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim adena minim veniam quis nostrud”</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FEEDBACK END -->
</main>
<!-- MAIN END -->