<!-- INNER BANNER START -->
<div class="sl-inner-banner">
    <!-- IMG SLIDER START -->
    <div id="serviceProviderSingleBanner" class="owl-carousel owl-theme sl-owl-nav">
        <div class="item">
            <div class="sl-img">
                <figure>
                    <a class="sl-prettyPhotoImg" href="./assets/images/service-provider-single/banner-img/img-01.jpg" rel="prettyPhoto[gallery]">
                        <img src="./assets/images/service-provider-single/banner-img/img-01.jpg" alt="Image Description">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                          <path id="Rectangle_1_copy" data-name="Rectangle 1 copy" class="cls-1" d="M26.156,2h1.688V52H26.156V2ZM2,26.156H52v1.688H2V26.156Z" transform="translate(-2 -2)"/>
                      </svg>
                    </a>
                </figure>
            </div>
        </div>
        <div class="item">
            <div class="sl-img">
                <figure>
                    <a class="sl-prettyPhotoImg" href="./assets/images/service-provider-single/banner-img/img-02.jpg" rel="prettyPhoto[pp_gal]">
                        <img src="./assets/images/service-provider-single/banner-img/img-02.jpg" alt="Image Description">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                          <path id="Rectangle_2_copy" data-name="Rectangle 1 copy" class="cls-1" d="M26.156,2h1.688V52H26.156V2ZM2,26.156H52v1.688H2V26.156Z" transform="translate(-2 -2)"/>
                      </svg>
                    </a>
                </figure>
            </div>
        </div>
        <div class="item">
            <div class="sl-img">
                <figure>
                    <a class="sl-prettyPhotoImg" href="./assets/images/service-provider-single/banner-img/img-03.jpg" rel="prettyPhoto[pp_gal]">
                        <img src="./assets/images/service-provider-single/banner-img/img-03.jpg" alt="Image Description">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                          <path id="Rectangle_3_copy" data-name="Rectangle 1 copy" class="cls-1" d="M26.156,2h1.688V52H26.156V2ZM2,26.156H52v1.688H2V26.156Z" transform="translate(-2 -2)"/>
                      </svg>
                    </a>
                </figure>
            </div>
        </div>
        <div class="item">
            <div class="sl-img">
                <figure>
                    <a class="sl-prettyPhotoImg" href="./assets/images/service-provider-single/banner-img/img-01.jpg" rel="prettyPhoto[pp_gal]">
                        <img src="./assets/images/service-provider-single/banner-img/img-01.jpg" alt="Image Description">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                          <path id="Rectangle_4_copy" data-name="Rectangle 1 copy" class="cls-1" d="M26.156,2h1.688V52H26.156V2ZM2,26.156H52v1.688H2V26.156Z" transform="translate(-2 -2)"/>
                      </svg>
                    </a>
                </figure>
            </div>
        </div>
    </div>
    <!-- IMG SLIDER END -->
</div>
<!-- INNER BANNER END -->
<!-- MAIN START -->
<main class="sl-main">
    <div class="container">
        <div class="sl-appointment">
            <div class="sl-appointment__img">
                <img src="./assets/images/index/category/img-01.jpg" alt="Image Description">
            </div>
            <div class="sl-appointment__content">
                <div class="sl-slider__tags">
                    <a href="javascript:void(0);" class="sl-bg-red-orange">Featured</a>
                    <a href="javascript:void(0);" class="sl-bg-green">Verified</a>
                </div>
                <h5>Accounts & Audit</h5>
                <h3>We Help You To Invent The Bright and Secure Future</h3>
            </div>
            <div class="sl-appointment__note">
                <h6>Please Note <span class="sl-alert-color">*</span></h6>
                <em>Don’t pay anyone without getting any service</em>
                <a class="btn sl-btn sl-btn-active" [routerLink]="['/booknow']">Book Now</a>
            </div>
        </div>
        <div class="sl-main-section">
            <div class="row">
                <div class="col-lg-4 col-xl-3">
                    <aside id="sl-asidebar" class="sl-asidebar">
                        <div class="sl-asideholder">
                            <a href="javascript:void(0);" id="sl-closeasidebar" class="sl-closeasidebar">
                                <i class="lnr lnr-layers"></i>
                            </a>
                            <div class="sl-asidescrollbar">
                                <div class="sl-contactDetail">
                                    <div class="sl-contactDetail__content">
                                        <h5>Contact Details</h5>
                                        <ul class="sl-contactDetail__descripton">
                                            <li><i class="ti-location-pin sl-address-icon"></i><address>Sialkot, PK</address></li>
                                            <li><i class="ti-headphone sl-headphone-icon"></i><a href="javascript:void(0);">(0342) 4303633</a></li>
                                            <li><i class="ti-email sl-email-icon"></i><a href="javascript:void(0);">abc@company.com</a></li>
                                            <li><i class="ti-mobile sl-mobile-icon"></i><a href="javascript:void(0);">+92-3424565633</a></li>
                                            <li><i class="ti-world sl-world-icon"></i><a href="javascript:void(0);">www.company.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sl-sidebar-ad">
                                    <a href="javascript:void(0);"><img src="./assets/images/service-provider-single/ad.jpg" alt="Image Description"></a>
                                    <p>Advertisement<span>255px X 355px</span></p>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-8 col-xl-9">
                    <div class="sl-aboutFreelance">
                        <div class="sl-title">
                            <h4>About “Accounts & Audit”</h4>
                        </div>
                        <div class="sl-aboutFreelance__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempoer incididunt utenalo labore etesdolore magna aliqua. Ut enim ad minim veniam, quis nrud exercitation ullamco laboris nisi ut aliquip acommodo consequat.
                                duis auete irure dolor in reprehenderit in voluptate velit.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sede perspiciatis unde omnis iste natus error sitame voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                eaque ipsa quaete ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicoe Nemo enim ipsam voluptatem quia voluptas sitae aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt. Neque porrom quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                    <div class="sl-languageWeKnow">
                        <div class="sl-title">
                            <h4>Languages We Know</h4>
                        </div>
                        <table class="table sl-languageWeKnow__content">
                            <tbody>
                                <tr>
                                    <td>English</td>
                                    <td>Urdu</td>
                                    <td>Chinese</td>
                                    <td>Arabic</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="sl-audioVideoGallery">
                        <div class="sl-title">
                            <h4>Audio/Video Gallery</h4>
                        </div>
                        <div class="sl-audioVideoGallery__content">
                            <figure>
                                <a href="javascript:void(0);"><img src="./assets/images/service-provider-single/video-gallery/img-01.jpg" alt="Image Description"></a>
                            </figure>
                            <figure>
                                <a class="sl-video__img" data-rel="prettyPhoto" href="https://youtu.be/XxxIEGzhIG8"><img src="./assets/images/service-provider-single/video-gallery/img-02.jpg" alt="Image Description"></a>
                            </figure>
                            <figure>
                                <a href="javascript:void(0);"><img src="./assets/images/service-provider-single/video-gallery/img-03.jpg" alt="Image Description"></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- MAIN END -->