<!-- MAIN START -->
<main>
    <!-- Contact Start -->
    <section class="sl-contact-page">
        <div class="sl-contactformmap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="sl-contactfrm-container">
                            <div class="sl-lg-none col-xl-5">
                                <div class="sl-contactformimg row">
                                    <figure>
                                        <img src="./assets/images/contactimg/img-01.jpg" alt="image">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7">
                                <div class="sl-contactform row">
                                    <div class="sl-contactform__details">
                                        <h5>We’re More Than Happy To Serve </h5>
                                        <h2>Book Your Service With Us</h2>
                                        <p>Consectetur adipisicing elit sed dotiane eiusmod tempor incididunt utna labore etnalorale magna aliqua enim adman minim</p>
                                    </div>
                                    <form class="sl-formtheme sl-formcontactus">
                                        <fieldset>
                                            <div class="sl-formhalf">
                                                <div class="form-group form-group-half">
                                                    <input type="text" name="Your Name" class="form-control" placeholder="First Name">
                                                </div>
                                                <div class="form-group form-group-half">
                                                    <input type="text" name="Your Email" class="form-control" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Subjects" class="form-control" placeholder="Category">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="Subject" class="form-control" placeholder="Your Email">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Address" required=""></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn sl-btn sl-btn-active">Book Service</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact End -->
</main>
<!-- MAIN END -->